* {
  margin: 0;
}
.img-container {
  background-image: url("banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.img-container2 {
  background-image: url("deck.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  vertical-align: middle;
}
.inner-container {
  text-align: center;
  bottom: 0px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 100px;
  left: 0;
}
.inner-container2 {
  text-align: center;
  padding: 70px 0;
  bottom: 0px;
  width: 100%;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 100px;
}
body {
  width: 100%;
  background-color: black;
}
.row {
  height: 200px;
  width: 400px;
  margin: 10px;
}
footer {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  color: gray;
}
